*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    height: 60px;
    width: 100%;
    background-color: #367faf;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header h1{
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
ul{
    list-style-type: none;
    display: inline-flex;
}
ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    font-size: 24px;
}
ul li a:hover{
    background-color: #4a84aa;
    color: #111;
}
.btn{
    font-size: 18px;
    color: #fff;
    background-color: #d62525;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    transition:  all 0.5s ease-out;
}
.btn:hover{
    background-color: #af4040;
}
/* MAIN SECTION */
.main{
    display: flex;
    width: 100%;
    height: 122vh;
    background-color: #fff; 
}
.side_bar{
    width: 10%;
    margin-top: 6rem;
    position: relative;
}
.nav{
    display: grid;
    position: fixed;
}
.nav a{
    font-size: 22px;
    text-decoration: none;
    color: #111;
    padding: 8px;
    transition: all 0.5s;
}
.nav a:hover{
    background-color: rgb(158, 154, 154);
    color: #fff;
}
.content{
    width: 80%;
    margin: 10px;
}
.content h2{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}
.content p{
    color: rgb(41, 40, 40);
    font-size: 23px;
    text-align: justify;
    line-height: 35px;
    margin-top: 10px;
    padding: 0 10px;
}
.content p a{
    text-decoration: none;
}
.img_container{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0 20px;    
}
.img_container img{
    padding: 10px;
}
footer{
    width: 100%;
    height: 200px;
    background-color: rgb(63, 56, 56);
}
.s-media{
    display: flex;
    justify-content: center;
}
.s-media .fa{
    font-size: 35px;
    color: #fff;
    margin: 40px;
    padding: 10px;
    cursor: pointer;
}
.s-media .fbook:hover{
    color: rgb(87, 87, 182);
}
.s-media .twtter:hover{
    color: rgb(49, 170, 218);
}
.s-media .lnkedin:hover{
    color: rgb(64, 64, 214);
}
footer hr{
   width: 95%;
   height: 1px;
   margin: auto;
}
footer p{
    color:#ccc;
    text-align: center;
    margin-top: 20px;
}

/* GALLERY PAGE */
.container{
    width: 100%;
    height: 80rem;
}
.container h1{
    text-align: center;
    margin-top: 20px;
}
.container_card{
    width: 98%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container_card img{
    margin: 30px 10px 5px 40px;
    width: 300px;
    height: 200px;
}
/* REGISTRATION FORM */
.form_container{
    width: 60%;
    background-color: whitesmoke;
    margin: 20px auto;
    padding: 30px;
} 
.form_title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color:#4a84aa;
    text-align: center;
}
fieldset legend{
    font-size: 20px;
    padding: 14px 0 5px;
   
}
.form .input_field{
    width: 250px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 12px 10px;
    margin: 10px 11px;
}
.form .perm{
    width: 547px;
}
.form .gender{
    margin-left: 12px;
    font-size: 20px;
    color: rgb(41, 39, 39);
}
.gender_input{
    margin-left: 30px;
}
.birth{
    margin-left: 25px;
    font-size: 20px;
    color: #555;
}
.car_info{
    margin: 0 10px;
    font-size: 20px;
    color: #555;
    display: inline;
}
.car_info select{
    width: 250px;
    font-size: 16px;
    padding: 12px 10px;
    border-radius: 5px;
}
.vehicle{
    margin-left: 5px;
}
.year_bought{
    display: inline;
}
textarea{
    width: 95%;
    margin:10px;
    font-size: 14px;
    padding: 10px;  
    resize: none; 
}
.form .input_field:focus{
    outline-offset: -6px;
    color: rgb(57, 56, 56);
}
.form_btn{
    margin: 10px 0;
    width: 120px;
    height: 35px;
    font-size: 16px;
    border: none;
    background-color: #4a84aa;
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease-in;
}
.form_btn:hover{
    background-color: #7799af;
}

@media (max-width: 740px){

    header h1{
        font-size: 18px;
    }
    ul{
        display: none;
    }
    .btn{
        font-size: 18px;
        padding: 5px 12px;  
    }
    .main{
        height: 235vh;
    }
    .nav{
        position: fixed;
    }
    .nav a{
        font-size: 16px;    
        padding: 8px;
        margin-right: 5px;
    }
    .content{
        margin: 0 10px 0 15px;
    }
    .content h2{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 18px;
    }
    .content p{
        font-size: 19px;
        line-height: 1.5;
        padding: 0 0px 0 30px;
    }
    .img_container{
        flex-direction: column;
    }
    .img_container img{
        width: 250px;
        height: 150px;
        margin-left: 20px;
    }
    footer{
        height: 150px;
    }
    .s-media .fa{
        font-size: 25px;
        margin: 20px;
    }
    footer hr{
        width: 95%;
        height: 1px;
        margin-top: 10px;
     } 
/* GALLERY PAGE */
    .container{
        height: 38rem;
    }
    .container_card img{
    margin: 20px 10px 5px 10px;
    width: 80px;
    height: 80px;
    }
/* REGISTRATION FORM */
    .form_container{
    width: 70%;
    margin: 10px auto;
    padding: 30px;
    }
    fieldset legend{
        font-size: 16px;
    }
    .form .input_field{
        width: 80px;
        font-size: 14px;
        padding: 4px 8px;
        margin: 10px 15px;
    }
}



